alembic>=1.13,<2
email-validator>=2.2,<3
fastapi>=0.115,<1
httpx>=0.27,<1
passlib[bcrypt]>=1.7,<2
bcrypt>=4,<5
psycopg2-binary>=2.9,<3
pydantic>=2.8,<3
pydantic-settings>=2.4,<3
python-jose[cryptography]>=3.3,<4
python-multipart>=0.0.9,<1
SQLAlchemy>=2.0,<3
uvicorn[standard]>=0.30,<1

# Test/dev
pytest>=8.0,<9
